/* Random quote commenting*/
body{
    margin: 0px;
    padding: 0px;
}
.container-fluid{
    padding-left: 0;
    padding-right: 0;
}
section{
    margin-bottom: 50px;
}
h2{
    color: rgb(29, 29, 29);
}
.row{
    min-height: 100px;
}
.box{
    font-size: 25px;
    padding: 20px;
    text-align: center;
    min-height: 80px;
    color: rgb(26, 26, 26);
    background-color: rgb(24, 112, 170) ;
    border: 2px solid black;
}
.box2{
    min-height: 200px;
    background-color: rgba(24, 112, 170, 0.5);
}
.title{
    color: black;
}